.details {
    padding:5px;
    margin:5px;
    font-size: 24px;
  color: white;
    
}

.error{
    color: red;
    font-style: italic;
    font-size: 10px;

}
h1{
    text-align:center;
    color: white
}
body{
    background-color: rgb(30, 35, 47);
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  background-image: url("matrix.jpg");
    
     
    
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
}
